.banner {
  padding-left:4vw;
  width:100vw;
  height:48px;
  background:url('/banner-bg.png') repeat;
}

img.label {
  height:48px;
}

canvas.label {
  width:100%;
  height:32px;
}

.main-page-wgt {
  background:#EED;
  min-height:3em;
}
