/* Main Primary Rule */
.banner {
  padding-left:4vw;
  width:96vw;
  height:48px;
  background:url('/banner-bg.png') repeat;
}

/* Other Rules */
.pg {margin:0px;overflow-x:hidden;}
.guilds-list {min-width:90%;}
.guilds-list td {border-bottom:1px solid;}
.code {font-family:monospace;}
img.label {height:48px;}
.footer {background:#AAA;}
.footer img {display:inline-block;}
canvas.label {width:100%;height:32px;}
.mpwgt-head {height:20px;}
.mpwgt-body {background:#EED;min-height:3em;}
